
/* Variables */
:root{
    --primaryColor: #0abb68a2;
    --textBg:#ffffffc4;
    --badges: #0abb68;
    --tags: #da2f2f;
    --button: #0abb68;
    --hover: black;
}

/* Post Styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.badge-cate,
.badge-tags{
    background-color: var(--badges);
    color: var(--textBg);
}

.badge-pill

.badge-cate:hover{
    color: var(--hover);
}


.badge.tags{
    background-color: var(--badges);
    color: var(--textBg);
}

.main-title a{
    color: var(--primaryColor);
}

.sub-title{
    color: var(--primaryColor);
    font-weight: 500;
}

.sub-title:hover{
    color: var(--hover);
}

.main-btn{
    background: var(--button);
    color: var(--textBg);
}

.post-title{
    color:var(--primaryColor);
    font-weight: 700;
}


/* NavBar Styles*/

.nav-color {
    background-color: var(--primaryColor);    
}

.nav-link{
    color: var(--textBg);
}

.nav-item a:hover {
    color: var(--hover);
}

.figure-caption p{
    color: var(--button);
}


.navbar-brand{
    color:var(--textBg);
    font-weight: 700;
}

.navbar-brand:hover{
    color: rgb(0, 0, 0);
}

.dropdown-item.active,
.dropdown-item:active{
    background-color: var(--primaryColor);
}

.navbar-toggler{
    outline: none !important;
    box-shadow: none !important;
}

/* Pagination */

.page-link{
color: var(--textBg);
background-color: var(--primaryColor);
border-color: 1px solid var(--primaryColor);
}

.page-link:hover{
    background-color: var(--button);
    color: var(--hover);
}

/* Categories */

.list-group-item {
    color: var(--primaryColor);
}


/* Footer */
.back{
    background:var(--primaryColor);
}

.list-unstyled li,
.list-unstyled li a{
    color: var(--textBg);
    text-decoration: none;
}

h6{
    color: var(--textBg);
}
